body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  background: #f2f2f7;
}

header {
  padding: 16px;
  text-align: center;
  font-weight: 700;
  background: white;
  border-bottom: 1px solid #ddd;
}

main {
  padding: 16px;
  padding-bottom: 90px;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: white;
  border-top: 1px solid #ddd;
}

nav button {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  font-size: 14px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

.item {
  background: white;
  padding: 14px;
  margin-top: 8px;
  border-radius: 12px;
}
